{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock %}

{% block extra_css %}
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-page-wrapper">
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Forgot Password</header>
                <p style="text-align: center; color: #666; margin-bottom: 20px;">
                    Enter your email to receive a password reset code
                </p>
                
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="field input-field">
                        {{ form.email }}
                    </div>

                    <div class="field button-field">
                        <button type="submit">Send Reset Code</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Remember your password? <a href="{% url 'login' %}" class="link">Login</a></span>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}